<div class="text-center">
    <h1 class="display-4">Bem-vindo(a)!</h1>
    <p>
        <a asp-action="Index" asp-controller="StudentGradeContentAdministration" class="btn btn-primary">Clique para realizar a carga de dados</a>
    </p>
</div>